html, body {
  height: 70%;
  width: 100%;
  margin: 0;
  padding: 0;
 }

h1 {
  margin: 0;
  transform: translateY(15px);
}
header {
  height: 30%;
  text-align: center;
}

h5 {
  margin-left: 25px;
}

#map {
  height: 50%;
  width: 50%;
  margin-left: 150px;
  margin-top: 75px;
}
#mapHolder {
  position: absolute;
  height: 86%;
  width: 100%;
}
#sidePanel {
  height:86%;
  width: 100%;
  position: absolute;
}

#input {
  width: 23%;
  height: 30px;
  font-size: 12px;
  margin-top: 10px;
}

#distLeft {
  margin-left: 24%;
  font-size: 50px;
}

#buttons{
  margin-top: 50px;
}
